/* Global styles */

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #222;
}

a {
    text-decoration: none;
    color: #222;
    padding: 0 10px;
}

a:hover {
    text-decoration: underline;
}

div {
    display: block;

}


/* Navigation */

.nav {
    display: flex;
    align-items: center;
    height: 60px;
    
}

.navleft {
    margin-left: 15px;
}

.navright {
    min-width: auto;
    height: 60px;
    display: block;
    padding: 10px;
    margin: 0 10px;
    margin-left: auto;
}

img.selfie {
    border-radius: 50%;
    background-size: 32px 32px;
    border: 1.5px black solid;
    margin: 0;    
    z-index: 0;
    position: relative;
    height: 32px;
    width: 32px;
    top: 12px;
}

.material-icons {
    color: darkgray;
    border-radius: 50%;
}

span.material-icons {
    position: relative;
    top: 8px;
    margin: 0 4px 0 10px;
}


/* logo */

.logospace {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
}

.logo {
    height: 92px;
    width: 272px;
}

/* search area */

.searchspace {
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
}

.searchbar {
    border: 1px solid #dfe1e5;
    width: auto;
    max-width: 584px;
    height: 44px;
    display: flex;
    background: #fff;
    box-shadow: none;
    z-index: 3;
    border-radius: 24px;
    margin: 20px 0;

}

.searchbuttons {
    display: flex;
}

.search1, .search2 {
    background: rgb(243, 241, 241);
    padding: 10px 20px;
    border-radius: 3px;
    margin: 16px auto;
}

.search1 {
    margin-right: 15px;

}

.search2 {
    margin-left: 15px;
}

.search1:hover {
    cursor: pointer;
    border: lightgray 0.5px solid;
}

/* .search2 {
    background: rgb(243, 241, 241);
    padding: 10px 20px;
    border-radius: 3px;
    margin: 0 auto;
    margin-left: 10px;
} */

.search2:hover {
    cursor: pointer;
    border: lightgray 0.5px solid;
}

.language {
    margin: 20px auto auto auto;
    text-align: center;
}

.frlink {
    color: blue;
    text-decoration: underline;
}


/* Footer */



.footer {
    background:rgb(243, 241, 241);
    flex-shrink: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.country {
    padding: 15px 15px;
    border-bottom: 1px rgb(221, 218, 218) solid;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px 0px;
}
